.card(style='width: 20rem;')
    //img.align-center.card-img-top(class="center-block" src='icons/ip-address.png' style='margin-top: 1em; height: 6em; width:6em;' )
    .card-body
        h5.card-title Network settings
        p.card-text
        //| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    ul.list-group.list-group-flush
        li.list-group-item 
            .row.mb-2
                .col
                    span.input-group-text(style='width:5em;') DHCP
                .col
                    //input(type='checkbox' data-toggle='switchbutton' checked='off' data-onlabel='On' data-offlabel='Off')                       
                    input#loop_Enable(type='checkbox' data-toggle="toggle" data-size="sm" data-onlabel='On' data-offlabel='Off') 
            .input-group.mb-2
                span#basic-addon1.input-group-text IP adress
                input#ip_adress.form-control(type='text' placeholder= config.net.IP aria-label='IP_adress' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text Net mask
                input#net_mask.form-control(type='text' placeholder= config.net.net_mask aria-label='Net_mask' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text Gateway
                input#gateway.form-control(type='text' placeholder= config.net.gateway aria-label='Gateway' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text DNS
                input#dns.form-control(type='text' placeholder= config.net.DNS aria-label='Gateway' aria-describedby='basic-addon1')
            .input-group.mb-2
                span#basic-addon1.input-group-text mDNS name
                input#mDNS.form-control(type='text' placeholder= config.net.mDNS_name aria-label='mdnsName' aria-describedby='basic-addon1')
    .card-body
        a.card-link(href='#') Save

script.


    let config = !{JSON.stringify(config)}
    $( document ).ready(function() {
        console.log("document redy")

        if(config.net.DHCP==1){
            $('#loop_Enable').bootstrapToggle('on')
        }else{
            $('#loop_Enable').bootstrapToggle('off')
        }
        $('#ip_adress').val(config.net.IP)
        $('#net_mask').val(config.net.IP)
        $('#gateway').val(config.net.IP)
        $('#dns').val(config.net.IP)
        $('#mDNS').val(config.net.IP)
    }); 