card.card.card_shadow.h-100
    .bg-success.card-img-top
        .row.mt-1
            .col-4
                .h5.d-flex.justify-content-end System status
            .col
                .b RUN
    .card-body 
        .row
            .col-4.d-flex.justify-content-end
                h6 CPU load
            .col
                .b 30%
        .row
            .col-4.d-flex.justify-content-end
                h6 RAM usage
            .col
                .b 1.1Gb / 4Gb
        .row
            .col-4.d-flex.justify-content-end
                h6 HDD usage
            .col
                .b 12.6Gb / 32Gb
        .row
            .col-4.d-flex.justify-content-end
                h6 CPU temp
            .col
                .b 42 &#8451